---
title: Davide Santangelo - Developer
---

<body>
  <h1>

    <div class="text" id="firstname">
      <div class="animate">Davide</div>
    </div>
    <div class="text" id="lastname">
      <div class="animate delay">Santangelo</div>
    </div>
  </h1>

  <div class="help" onclick="$('html, body').animate({ scrollTop: '600px' }, 2000); $(this).delay(3000).fadeOut('slow');">
    <i class="fas fa-angle-down fa-2x"></i>
  </div>

  <div class="about">
    <h2>My name is <b>Davide Santangelo</b> <a href="https://dev.to/daviducolo"><i class="fab fa-dev" title="daviducolo's DEV Profile"></i></a>, a passionate software developer with over 12 years of experiences in a wide range of disciplines, mainly concerning the web.</h2>
    <p>Currently i work as senior web developer at <a href="http://www.chorally.com">Chorally</a> which is where my passion for project and development converge.</p>
    <p>I'm in love with <b>Ruby</b>, <b>Rails</b>, <b>Python</b> and everything that revolves around these technologies, especially REST API design and development. </p>
    <p></p>
    <p>My most recent passions are big data and machine learning. 
    When I have time, i enjoy writing code about a different purpose, my friends/colleagues call me "gemminator", because i have great knowledge of <b>rubygems</b> ecosystem (<a href="https://rubygems.org/profiles/davidesantangelo">here</a> some gems that i have developed). </p>
    <p>Take a look at my <a href="https://davidesantangelo.github.io">GitHub Page.</a> I love programming and i always try to improve myself. I love study new languages ​​and take courses in programming (Rust, Vue.js right now).</p>
    <p><b>Projects</b><br>
      <a href="https://datorss.com">DatoRss</a> RSS Search Engine<br>
      <a href="https://www.tunsapp.com">TUNS</a> Twitter Unfollower Notification Service<br>
      <a href="https://www.feedirss.com">FeediRSS API</a> RSS as RESTful API
    </p>
    <p><b>Skills</b><br>
      <span class="skill">Ruby</span>,
      <span class="skill">Python</span>,
      <span class="skill">Ruby On Rails</span>,
      <span class="skill">Javascript</span>,
      <span class="skill">AngularJS</span>,
      <span class="skill">ReactJS</span>,
      <span class="skill">CSS</span>,
      <span class="skill">HTML</span>,
      <span class="skill">Java</span>,
      <span class="skill">PostgreSQL</span>,
      <span class="skill">MySQL</span>,
      <span class="skill">MongoDB</span>,
      <span class="skill">Redis</span>,
      <span class="skill">Git</span>,
      <span class="skill">SVN</span>,
      <span class="skill">Elastic Search</span>.
    </p>
    <p>Find me on
      <a href="https://twitter.com/daviducolo"  title="daviducolo's Twitter Profile" target="_blank">Twitter</a>,
      <a href="https://www.github.com/davidesantangelo/" title="davidesantangelo's GitHub Profile" target="_blank">GitHub</a>,
      <a href="https://dev.to/daviducolo" title="daviducolo's DEV Profile" target="_blank">Dev.to</a> or
      <a href="https://www.linkedin.com/in/davidesantangelo" title="davidesantangelo's LinkedIn Profile" target="_blank">Linkedin</a>.
    </p>
  </div>
</body>