---
title: Davide Santangelo
---

<body>
  <h1>
    <div class="text">
      <div class="animate">Davide</div>
    </div>
    <div class="text">
      <div class="animate delay">Santangelo</div>
    </div>
  </h1>
  <div class="about">
    <h2>Hi! I'm Davide Santangelo, a passionate software developer with over 12 years of experiences in a wide range of disciplines, mainly concerning the web.</h2>
    <p>Currently i work as senior web developer at <a href="http://www.chorally.com">Chorally</a> which is where my passion for project and development converge.</p>
    <p>I'm in love with <span class="language">Ruby</span>, <span class="language">Rails</span> and <span class="language">React</span>. I also write random stuff about what I'm interested in.</p>
    <p></p>
    <p>I love programming and i always try to improve myself. I love study new languages ​​and take courses in programming (Rust?). My most recent passions are big data and machine learning. When I have time, I enjoy writing code about a different purpose. Take a look at my <a href="https://davidesantangelo.github.io">GitHub Page </a></p>
    <p>Contacts
      <a href="https://twitter.com/daviducolo" target="_blank">Twitter</a>,
      <a href="https://www.github.com/davidesantangelo/" target="_blank">GitHub</a> or
      <a href="https://www.linkedin.com/in/davidesantangelo" target="_blank">Linkedin</a>.
    </p>
  </div>
</body>


